@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$gray: #8b8b8b;
$red: #d1230a;
$blue: #3555c3;
$green: #4caf50;
$yellow: hsl(49, 100%, 63%);
$lightgreen: #5ddc26;
$lightpink: #f97f98;
$pink: rgb(245, 65, 98);
$fontFamily: Poppins,
sans-serif;
$boxShadow: rgb(0 0 0 / 50%) 0px 2px 4px 0px;
$font-size:12px;


.itemDia {
	font-size: $font-size;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-start;

	width: 100%;
	height: 1.5em;
	overflow: hidden;
	

	box-sizing: border-box;





}

.itemDia p {
	position: relative;
	white-space: nowrap;
	height: 1.5em;
	margin: 0;
	top: 0;
	left: 0px;
	-webkit-transition: 1s ease-in;
	-moz-transition: 1s ease-in;
	-o-transition: 1s ease-in;
	transition: 1s ease-in;
	text-align: left;
	font-weight: 400;
	cursor: pointer;


	span {
		padding-left: 8px;
		font-weight: 600;
		
	}
}

.itemDia p:hover {
	position: relative;
	left: -65px;
	-webkit-transition: 2s ease-in;
	-moz-transition: 2s ease-in;
	-o-transition: 2s ease-in;
	transition: 2s ease-in;
	cursor: pointer;
}

.colorFlag {
	position: absolute;
	z-index: 1;
	width: 5px;
	height: 1.25em;
	box-sizing: border-box;
	display: inline-block;

}

.container {

	width: 100%;
	margin: 0 auto;


	font-family: sans-serif;
	height: 1.5em;
	







}
