@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
@import "../../app.component.scss";

.popover-btn {
  cursor: pointer;
  color: $fontBlue;
  font-family: $fontWork;
  font-size: 0.8em;
  background-color: transparent;
  border: none;
  padding: 2px 5px;
  margin: 0;
  font-weight: 500;
}

.popover-btn:active {
  box-shadow: $shadow-btn;
  transform: translateY(3px);
}
