@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$gray: #8b8b8b;
$red: #d1230a;
$blue: #3555c3;
$green: #4caf50;
$yellow: hsl(49, 100%, 63%);
$lightgreen: #5ddc26;
$lightpink: #f97f98;
$pink: rgb(245, 65, 98);
$fontFamily: Poppins, sans-serif;
$boxShadow: rgb(0 0 0 / 50%) 0px 2px 4px 0px;
$font-size: 12px;
* {
	box-sizing: border-box;
	margin: 0;
}
.main-container {
	display: flex;
	flex-direction: row;
	width: 18em;
	align-items: center;
	padding: 0;

	background-color: transparent;
}
.container {
	position: relative;
	display: flex;
	flex-direction: row;
	border: solid 1px $gray;
	width: 16em;
	font-family: sans-serif;
	height: 10em;
	border-radius: 4px;
	left: 18px;
	

	.colorFlag {
		width: 5px;
		height: 100%;
		z-index: -2;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.main {
		background-color: white;
		font-size: $font-size;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: space-evenly;
		width: 100%;
		height: 100%;
		padding-right: 3px;
		padding-left: 3px;
		border-radius: 0 4px 0 4px;
		border-bottom-right-radius: 4px;
		
		app-header-popover {
			border-radius: 0 6px 0 6px;
			height: 40%;
		}
		.popover-body {
			border-radius: 0 6px 0 6px;
			height: 55%;
		}
		app-popover-list-footer{
			background-color: none;
			height: 15%;
			border-radius: 0 6px 0 6px;
		}
	}
}
.pointer {
	
	border:8px solid $gray;
	border-right-color:white;
	border-left-color:white;
	border-width:0px 30px 60px;
	transform: rotate(270deg);
	z-index: -4;
	position: absolute;
}
.pointer2 {
	left: 19px;
	border:8px solid white;
	border-right-color:transparent;
	border-left-color:transparent;
	border-width:0px 29.7px 59.7px;
	transform: rotate(270deg);
	z-index: -3;
	position: absolute;
}

.popover-container{
	display: flex;
	flex-direction: column;
	width: 18em;
}