* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.day-card {
  padding: 0.5em 0.8em;
  border: 1px #ededed solid;
  border-radius: 0.5em;
  margin: auto;
  max-width: 15em;
}

.focused {
  width: 103%;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 10px 0px, rgb(0 0 0 / 19%) 0px 2px 10px 0px;
  position: relative;
  left: -1.5%;
  height: fit-content;
}
