.popover-list-footer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border: 1px solid rgb(237, 237, 237);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
