@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
$gray: #8B8B8B;
$fontWork: 'Work Sans', sans-serif;

.day-number{
    margin:0;
    width: fit-content;
    font-family: $fontWork;
    font-size: 25.5px;
    color: $gray;
}