@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$gray: #8B8B8B;
$red: #D1230A;
$blue: #3555C3;
$green: #4CAF50;
$yellow: #FFDD42;
$lightgreen: #5DDC26;
$lightpink: #F97F98;
$pink: rgb(245, 65, 98);
$fontFamily: Poppins, sans-serif;
$boxShadow: rgb(0 0 0 / 50%) 0px 2px 4px 0px;



