@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

$fontGray: rgb(74, 74, 74);
$gray: #8b8b8b;
$red: #d1230a;
$blue: #3555c3;
$green: #4caf50;
$yellow: #ffdd42;
$lightgreen: #5ddc26;
$lightpink: #f97f98;
$pink: rgb(245, 65, 98);
$fontFamily: Poppins, sans-serif;
$boxShadow: rgb(0 0 0 / 50%) 0px 2px 4px 0px;
$fontBlue: rgb(53, 85, 195);
$font-size: 12px;
$fontWork: "Work Sans", sans-serif;
$shadow-btn: offset 4px 4px 4px rgba(0, 0, 0, 0.25);
