$font-size:12px;
$fontGray: rgb(74, 74, 74);


p {
   
    margin: 0;
    text-align: left;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
   width: inherit;
    height: fit-content;
    box-sizing: border-box;
    color: $fontGray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;


    span {
        font-weight: 400;
        font-size: 12px;
    }
}