$font-size:12px;
p {
    white-space: nowrap;
    height: 3em;
    margin: 0;
    text-align: left;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    box-sizing: border-box;


    span {
        font-weight: 400;
        font-size: 12px;
    }
}