$gray: #8b8b8b;
$bright-pink: rgb(245, 65, 98);
$bright-pink-60: rgba(245, 65, 98, 0.6);

#add-button {
  border: none;
  box-sizing: border-box;
  line-height: 0;
}

.day-add-button {
  fill: $gray;
  background: none;
  padding: 0;
}

.general-add-button {
  background: $bright-pink;
  fill: white;
  border-radius: 50%;
  padding: 1.5em;
  position: relative;
}

.day-add-button:hover,
.general-add-button:hover {
  cursor: pointer;
}

.general-add-button:hover {
  background: $bright-pink-60;
}

.general-add-button:hover app-tooltip-calendar{
  display: inline-block;
}

app-tooltip-calendar{
  display: none;
  position: absolute;
  left: 80px;
  top:0%;
}
