@import "../../app.component.scss";

.day-box {
  width: 100%;
  text-align: center;
}

.header-title-bold {
  font-family: $fontFamily;
  font-weight: 600;
}

.header-title-bolder {
  font-family: $fontFamily;
  font-weight: bolder;
}

.header-title-bold,
.header-title-bolder {
  margin-bottom: 5px;
}
