@import "../../app.component.scss";

.header-title-bold {
  font-family: $fontFamily;
  font-weight: 600;
}
.header-title-bolder {
  font-family: $fontFamily;
  font-weight: bolder;
}


.header-title-bold, .header-title-bolder{
  background: yellow;
  width:100%;
}