* {
  box-sizing: border-box;
}

p {
  white-space: nowrap;
  height: 1.5em;
  margin: 0;
  top: 0;
  left: 0px;
  -webkit-transition: 1s ease-in;
  -moz-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  text-align: left;
  font-weight: 400;
  cursor: pointer;
  width: inherit;

  span {
    padding-left: 8px;
    font-weight: 600;
  }
}

p:hover {
  position: relative;
  left: -65px;
  -webkit-transition: 2s ease-in;
  -moz-transition: 2s ease-in;
  -o-transition: 2s ease-in;
  transition: 2s ease-in;
  cursor: pointer;
}
