* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin:0.4em;
}

.popover-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.comment{
  height: inherit;
  white-space: wrap;
}

.ticket{
  max-width: 80%;
}

